ESP32CAM_MQTT-Basic/MQTT+ESP32CAM-Basic.json
[{"id":"6fcfda10.bc7b2c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"4cd9e330.a7889c","type":"mqtt in","z":"6fcfda10.bc7b2c","name":"","topic":"esp32/data/zerol","qos":"2","datatype":"auto","broker":"edd3004a.11da88","x":140,"y":120,"wires":[["a81b6cb7.b8e24","9ab54791.4f9a8"]]},{"id":"a81b6cb7.b8e24","type":"ui_text","z":"6fcfda10.bc7b2c","group":"f9ff6e54.b1e71","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":120,"wires":[]},{"id":"842756d3.0ca3d","type":"ui_switch","z":"6fcfda10.bc7b2c","name":"","label":"switch","tooltip":"","group":"f370cfb7.9f1c18","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":110,"y":180,"wires":[["938b5dd7.0973c8"]]},{"id":"938b5dd7.0973c8","type":"mqtt out","z":"6fcfda10.bc7b2c","name":"","topic":"esp32/data/grupo2","qos":"2","retain":"","broker":"edd3004a.11da88","x":390,"y":180,"wires":[]},{"id":"9ab54791.4f9a8","type":"debug","z":"6fcfda10.bc7b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":80,"wires":[]},{"id":"edd3004a.11da88","type":"mqtt-broker","name":"","broker":"3.66.119.222","port":"1883","clientid":"cesarMB-SIC-1","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f9ff6e54.b1e71","type":"ui_group","name":"Rx","tab":"5341aebf.115e08","order":1,"disp":true,"width":"6","collapse":false},{"id":"f370cfb7.9f1c18","type":"ui_group","name":"Tx","tab":"5341aebf.115e08","order":2,"disp":true,"width":"6","collapse":false},{"id":"5341aebf.115e08","type":"ui_tab","name":"Comunicación MQTT con ESP32CAM","icon":"dashboard","order":4,"disabled":false,"hidden":false}]